<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Project Page</title>
</head>

<body>
    <h1>These are my GitHub repository projects:</h1>
    <p><a href="https://github.com/vniciusdiniz/node-course-2-web-server">Node Web Server</a></p>
    <p><a href="https://github.com/vniciusdiniz/destroytheworld">Destroy The World</a></p>
</body>

</html>